body
{
    background-color: #493D9E;
}

.section-title, .main-title
{
    color: #DAD2FF;
}

.main-title
{
    font-size: 36px;
}

.text, .recepis-text
{
    color: #B2A5FF;
}

a
{
    color: #B5A8D5;
}

img
{
    border-radius: 25%;
    border: 5px solid #4300FF;
    width: 600px;
    height: 400px;
}

iframe
{
    border: 0px;
}

#recipes-container
{
    display: flex;
    flex-flow: wrap row;
}

.item
{
    justify-items: center;
    box-sizing: content-box;
    margin: 5px;
}

.item > p
{
    font-size: larger;
}

nav > ul > li
{
    margin-left: 25px;
}

#li1, #li4
{
    margin-left: 0px;
}