body
{
    background-color: #493D9E;
}

.section-title, .main-title
{
    color: #DAD2FF;
}

.text
{
    color: #B2A5FF;
}

a
{
    color: #B5A8D5;
}

aside 
{
    /*flex-direction: column;
    justify-content: right;*/
}

.test-class
{
    align-content: flex-end;
}

.recepis-text
{
    color: #B2A5FF;
}

.item-image
{
    border-radius: 25%;
    border: 5px solid orange;
    width: 600px;
    height: 400px;
}

#recipes-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.item
{
    justify-items: center;
    box-sizing: content-box;
    margin: 10px;
}